.input {
  box-sizing: border-box;
  position: relative;
  background: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 820px;
  height: 64px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
}
